@import "mixins/forgeflex";

.parent {
    background-color: black;
    color: red;
    width: 100vh;
    height: 100vh;
    @include forgeParent('top');
}

.child {
    background-color: yellow;
    height: 500px;
    @include forgeChild(2);
}
